<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Dojo Secrets</title>
</head>
<body class="container">
    <div class="row">
        <div class="col-md-12 text-right ">
            <a href="/clear">Logout</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <% if (messages.errors) { %>
                <% for ( error of messages.errors) { %>
                    <div class="alert-danger"><%= error %></div>
                <% } %>
            <% } %>

            <% if (messages.success) { %>
                <div class="alert-success"><%= messages.success %></div>
            <% } %>

            <% if (messages.PasswordNoMatch ) { %>
                <div class="alert-danger"><%= messages.PasswordNoMatch %></div>
            <% } %>

        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Dojo Secrets</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Create a secret</h5>

                    <form action="/secret" method="POST">
                        <div class="form-group">
                          <label for="my_secret">Secret</label>
                          <input type="text" class="form-control" name="my_secret"  placeholder="I hide the whiteboard markers in the sofa cushions.">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>  
        </div>
    </div>
    <div class="row justify-content-md-center botton_cont ">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    All the secrets
                </div>
                <div class="card-body scroller">
                    <% if(results) { %>
                        <% for(s of results) { %>
                            <% if(s._users == user) {%>
                                <p class="card-text">
                                    <a href="/details/<%= s._id %>"><%= s.text %> </a>
                                    <a href="/destroy/<%= s._id %>" class="btn btn-danger float-right">Delete</a>
                                </p>
                            <% }else{ %>
                                <p class="card-text"><a href="/details/<%= s._id %>"><%= s.text %> </a></p>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>